In [1]:
# importing all the necessary libraries

import pandas as pd
import ast
import numpy as np

## Preprocessing movies_df dataset

In [2]:
# Reading the csv
movies_df = pd.read_csv('Resources/tmdb_5000_movies.csv')
movies_df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
#Exploring the dataset
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
movies_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [5]:
#trying to visualize the necessary columns
movies_df2 = movies_df.loc[:,['id', 'genres', 'original_title', 'title' ,'overview', 'release_date', 'production_companies','popularity']]
movies_df2

,id,genres,original_title,title,overview,release_date,production_companies,popularity
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",150.437577
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",139.082615
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Spectre,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",107.376788
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",The Dark Knight Rises,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",112.312950
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",John Carter,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",43.926995
...,...,...,...,...,...,...,...,...
4798,9367,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",El Mariachi,El Mariachi,El Mariachi just wants to play his guitar and ...,1992-09-04,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",14.269792
4799,72766,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",Newlyweds,Newlyweds,A newlywed couple's honeymoon is upended by th...,2011-12-26,[],0.642552
4800,231617,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Signed, Sealed, Delivered","Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",2013-10-13,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",1.444476
4801,126186,[],Shanghai Calling,Shanghai Calling,When ambitious New York attorney Sam is sent t...,2012-05-03,[],0.857008
4802,25975,"[{""id"": 99, ""name"": ""Documentary""}]",My Date with Drew,My Date with Drew,Ever since the second grade when he first saw ...,2005-08-05,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",1.929883

# Genres Extraction

In [6]:
# evaluates an expression node or a string containing a Python literal or container display
#Using lamba function to change objects into string
movies_df['genres'] = movies_df['genres'].map(lambda x: ast.literal_eval(x))

In [7]:
# Extracting the genres from the list of dictionaries using for loops

def genresList(x):
    genre = []
   
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            genre.append(scifi)
        else:
            genre.append(i.get('name'))
    if genre == []:
        return np.NaN
    else:
        return (st.join(genre))

In [8]:
#
movies_df['genres_list'] = movies_df['genres'].map(lambda x: genresList(x))
movies_df['genres_list']

0       Action Adventure Fantasy Sci-Fi
1              Adventure Fantasy Action
2                Action Adventure Crime
3           Action Crime Drama Thriller
4               Action Adventure Sci-Fi
                     ...
4798              Action Crime Thriller
4799                     Comedy Romance
4800      Comedy Drama Romance TV Movie
4801                                NaN
4802                        Documentary
Name: genres_list, Length: 4803, dtype: object

In [9]:
# genre_id = []
# genre_names = []

# for genre_list in movies_df['genres']:
#     for genre_dict in genre_list:
#         genre_id.append(genre_dict['id'])
#         genre_names.append(genre_dict['name'])

# print("Genre IDs:", genre_id)
# print("Genre Names:", genre_names)

In [10]:
# Extracting the genres from the list of dictionaries using for loops

def genresID(x):
    genre_id = []
   
    st = " "
    for i in x:
        genre_id.append(i.get('id'))
    if genre_id == []:
        return np.NaN
    else:
        return (st.join(genre_id))

# Production_companies & Production_countries Extraction

In [11]:
# def production_companies1(x):
#     prod_comp = []
#     for i in x:
#         prod_comp.append(i.get('name'))
#     if prod_comp == []:
#         return np.NaN
#     else:
#         return (prod_comp[0])

# Extracting Countries
def production_companies1(x):
    prod_companies = []
    x = ast.literal_eval(x)  # Convert the string to a dictionary
    for i in x:
        prod_companies.append(i.get('name'))
    if prod_companies == []:
        return np.NaN
    else:
        return " ".join(prod_companies)

movies_df['production_company'] = movies_df['production_companies'].map(lambda x: production_companies1(x))

In [12]:
# movies_df['production'] = movies_df['production_companies'].map(lambda x: production_companies1(x))
movies_df['production_company']

0       Ingenious Film Partners Twentieth Century Fox ...
1       Walt Disney Pictures Jerry Bruckheimer Films S...
2                            Columbia Pictures Danjaq B24
3       Legendary Pictures Warner Bros. DC Entertainme...
4                                    Walt Disney Pictures
                              ...
4798                                    Columbia Pictures
4799                                                  NaN
4800    Front Street Pictures Muse Entertainment Enter...
4801                                                  NaN
4802            rusty bear entertainment lucky crow films
Name: production_company, Length: 4803, dtype: object

In [13]:
# Extracting Countries
def production_countries1(x):
    prod_countries = []
    x = ast.literal_eval(x)  # Convert the string to a dictionary
    for i in x:
        prod_countries.append(i.get('name'))
    if prod_countries == []:
        return np.NaN
    else:
        return " ".join(prod_countries)

movies_df['production_countries2'] = movies_df['production_countries'].map(lambda x: production_countries1(x))

In [14]:
movies_df['production_countries2']

0       United States of America United Kingdom
1                      United States of America
2       United Kingdom United States of America
3                      United States of America
4                      United States of America
                         ...
4798            Mexico United States of America
4799                                        NaN
4800                   United States of America
4801             United States of America China
4802                   United States of America
Name: production_countries2, Length: 4803, dtype: object

In [15]:
#Extracting Languages
def Languages(x):
    sp_languages = []
    x = ast.literal_eval(x)  # Convert the string to a dictionary
    for i in x:
        sp_languages.append(i.get('name'))
    if sp_languages == []:
        return np.NaN
    else:
        return " ".join(sp_languages)

movies_df['movie_language'] = movies_df['spoken_languages'].map(lambda x: Languages(x))

In [16]:
movies_df['movie_language']

0                                 English Español
1                                         English
2       Français English Español Italiano Deutsch
3                                         English
4                                         English
                          ...
4798                                      Español
4799                                          NaN
4800                                      English
4801                                      English
4802                                      English
Name: movie_language, Length: 4803, dtype: object

# Creating Bins for Runtime

In [21]:
# You can replace 'movie_df' and 'runtime' with your actual DataFrame and column name

# Define bin edges
bin_edges = [0, 75, 120, 180, float('inf')]  # Bins for runtime in minutes

In [22]:
# Define bin labels
bin_labels = ['Short', 'Medium', 'Long', 'Very Long']

In [23]:
# Create a new column 'runtime_category' with bin labels
movies_df['runtime_bin'] = pd.cut(movies_df['runtime'], bins=bin_edges, labels=bin_labels)

In [24]:

movies_df_final = pd.DataFrame(movies_df[['id', 'genres_list', 'original_title', 'title', 'tagline','overview', 
'release_date', 'production_company','production_countries2', 'movie_language','runtime_bin' ,'popularity',
'vote_average', 'vote_count']])

movies_df_final.head()

,id,genres_list,original_title,title,tagline,overview,release_date,production_company,production_countries2,movie_language,runtime_bin,popularity,vote_average,vote_count
0,19995,Action Adventure Fantasy Sci-Fi,Avatar,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,Ingenious Film Partners Twentieth Century Fox ...,United States of America United Kingdom,English Español,Long,150.437577,7.2,11800
1,285,Adventure Fantasy Action,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",2007-05-19,Walt Disney Pictures Jerry Bruckheimer Films S...,United States of America,English,Long,139.082615,6.9,4500
2,206647,Action Adventure Crime,Spectre,Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,2015-10-26,Columbia Pictures Danjaq B24,United Kingdom United States of America,Français English Español Italiano Deutsch,Long,107.376788,6.3,4466
3,49026,Action Crime Drama Thriller,The Dark Knight Rises,The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,2012-07-16,Legendary Pictures Warner Bros. DC Entertainme...,United States of America,English,Long,112.312950,7.6,9106
4,49529,Action Adventure Sci-Fi,John Carter,John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...",2012-03-07,Walt Disney Pictures,United States of America,English,Long,43.926995,6.1,2124