In [23]:
import requests
import json
import pandas as pd
import time
from tmdb_key_z import bearer

# Single API call to TMDB

In [ ]:
# url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

# headers = {
#     "accept": "application/json",
#     "Authorization": f"Bearer {bearer}"
# }

# response = requests.get(url, headers=headers)
# data = response.json()
# print(json.dumps(data, indent=4, sort_keys=True))

In [14]:
# titles = []
# genres = []
# original_language = []
# overview = []
# release_date = []
# vote_average = []

In [15]:
# for movie in data['results']:
#     titles.append(movie['title'])
#     genres.append(movie['genre_ids'])
#     original_language.append(movie['original_language'])
#     overview.append(movie['overview'])
#     release_date.append(movie['release_date'])
#     vote_average.append(movie['vote_average'])

# Multiple calls to tmdb API

In [24]:
# initialize lists
titles = []
genres = []
original_language = []
overview = []
release_date = []
vote_average = []

In [ ]:
# call tmdb api multiple times
for i in range(1,501):
    url = f"https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={i}"

    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {bearer}"
    }

    response = requests.get(url, headers=headers)
    data = response.json()
    # append data for each call to lists
    for movie in data['results']:
        titles.append(movie['title'])
        genres.append(movie['genre_ids'])
        original_language.append(movie['original_language'])
        overview.append(movie['overview'])
        release_date.append(movie['release_date'])
        vote_average.append(movie['vote_average'])

    time.sleep(0.25)

In [32]:
movie_df = pd.DataFrame({
    'Title':titles,
    'Rating':vote_average,
    'Release Date':release_date,
    'Genre_IDs':genres,
    'Language':original_language,
    'Overview':overview
})
movie_df.tail()

,Title,Rating,Release Date,Genre_IDs,Language,Overview
9995,The Real McCoy,5.6,1993-09-10,"[28, 80, 18, 53]",en,Karen McCoy is released from prison with nothi...
9996,Love Wedding Repeat,5.6,2020-04-10,"[35, 10749]",en,While trying to make his sister's wedding day ...
9997,The House,5.6,2017-06-29,[35],en,When Scott and Kate Johansen’s daughter gets i...
9998,Si vive una volta sola,5.6,2021-04-28,[35],it,"Umberto, Lucia and Corrado discover that their..."
9999,The Return of Swamp Thing,5.6,1989-05-11,"[27, 878]",en,The Swamp Thing returns to battle the evil Dr....